<% if current_user %>
<%= link_to "Logout", logout_path %>
<% else %>
<%= link_to "Login", login_path %>
<%= link_to "Create Account", new_user_path %>
<% end %>


<div class="container">
<% @pins.each do |pin| %>
  <%= link_to pin.name, pin_path(pin) %><br>
  <%= image_tag pin.image %><br>
  <%= "Source: #{pin.source}" %><br>
  <%= link_to "Save Pin", new_pin_board_path %>
  <hr>
  <% end %>
</div>
