
<%= javascript_include_tag('comments.js') %>
<div class="container text-center pin-show">
  <%= link_to image_tag(@pin.image, class: "pin-show-image"), :back %><br>
  <%= link_to new_pin_board_path(pin_id: @pin.id) do %>
    <button type="button" class="btn btn-danger button-pin">Pin me! <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></button>
  <% end %>
  <h4 class="pin-pad"><%= @pin.name %></h4>
  Pin from <span class="form-link"><%= link_to @pin.source, @pin.source %></span><br>
  <hr>
  <% if current_user %>
    <h4 class="leave-comment"> Leave a comment: </h4>
    <%= render partial: "shared/comment_form" %>
  <% end %>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item all-comments">
      <h4>All Comments</h4>
    </li>
    <% @pin.comments.each do |comment| %>
      <li class="list-group-item">
        <div class="row">
          <p class="comment-time"><%= time_ago_in_words(comment.created_at) %> ago,
            <%= link_to comment.user.username, show_user_path(comment.user.slug) %> commented: </p>
          <% if comment.user == current_user %>
            <div class="col-md-9">
              <%= best_in_place_if comment.user == current_user, comment, :content, :as => :textarea %>
            </div>
            <div class="col-md-3 delete-edit">
        <%#= link_to edit_comment_path(comment), id: "edit-comment" do %>
          <!-- <i class="glyphicon glyphicon-pencil comment-options"></i> -->
        <%# end %>
              <%= link_to comment_path(comment), id: "delete-comment", method: "delete" do %>
                <i class="glyphicon glyphicon-trash comment-options"></i>
              <% end %>
            </div>
          <% else %>
            <div class="col-md-9">
              <p><%= comment.content %></p>
            </div>
        <!-- <i class="glyphicon glyphicon-pencil comment-disabled"></i> -->
            <div class="col-md-3 delete-edit">
              <i class="glyphicon glyphicon-trash comment-disabled"></i>
            </div>
          <% end %>
        </div>
      </li>

    <% end %>
  </ul>
</div>
<div class="col-md-4">
</div>
</div>
