<div class="container">
  <%= image_tag src=@pin.image %><br>
  <%= @pin.name %><br>
  <%= @pin.source %><br>
  <%= link_to "Save Pin", new_pin_board_path(pin_id: @pin.id) %>
  <% if current_user %>
    <h4> Leave a comment: </h4>
    <%= render partial: "shared/comment_form" %>
  <% end %>
  <h4>All Comments</h4>
    <% @pin.comments.each do |comment| %>
      <p><%= comment.content %></p>
    <% end %>
</div>
