<div class="container update-form">
  <h3 class="form-h3 text-center">Update Account Information</h3><br>
<%= form_for @user do |f| %>
<div class="form-group">
  <p><%= f.text_field :name, class: "form-control login-items", placeholder: "Name", id: "Name" %></p>
</div>
<div class="form-group">
  <%= f.text_field :email, class: "form-control login-items", placeholder: "Email", id: "Email" %>
</div>

<div class="form-group">
  <%= f.text_field :phone, class: "form-control login-items", placeholder: "Phone", id: "Phone" %>
</div>

<div class="form-group">
  <%= f.text_field :avatar, class: "form-control login-items", placeholder: "Avatar", id: "Avatar" %>
</div>

<div class="form-group">
  <%= f.password_field :password, class: "form-control login-items", placeholder: "Password", id: "Password" %>
</div>

<div class="form-group">
  <%= f.password_field :password_confirmation, class: "form-control login-items", placeholder: "Confirm password", id: "Password Confirmation" %>
</div>
<p>
  <button type="submit" class="btn btn-danger update-button">Update Profile</button><%= link_to "Cancel", profile_path, class: "btn btn-default link-to-login cancel-button" %>
<% end %>
</div>
