<body class="login-page">
  <div class="container">
    <div class ="row">
      <div class = "text-center">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <div class="panel panel-default signup-panel-shadow">
            <div class="panel-body less-padding">
              <h2 class="logo">Pinspiration</h2>
            </div>
            <div class="panel-footer panel-pad">
                <h3 class="form-h3">Sign up to see more</h3>
                <br>
                <%= form_for @user, class: "form-group" do |f| %>
                <div class="form-group">
                  <%= f.text_field :name, class: "form-control login-items", placeholder: "Name", id: "Name" %>
                </div>
                <div class="form-group">
                  <%= f.text_field :username, class: "form-control login-items", placeholder: "Username", id: "Username" %>
                </div>
                <div class="form-group">
                  <%= f.text_field :email, class: "form-control login-items", placeholder: "Email", id: "Email" %>
                </div>
                <div class="form-group">
                  <%= f.text_field :phone, class: "form-control login-items", placeholder: "Phone number", id: "Phone" %>
                </div>
                <div class="form-group">
                  <%= f.password_field :password, class: "form-control login-items", placeholder: "Password", id: "Password" %>
                </div>
                <div class="form-group">
                  <%= f.password_field :password_confirmation, class: "form-control login-items", placeholder: "Confirm password", id: "Password Confirmation" %>
                </div>
                <button type="submit" class="btn btn-danger login-items">Create Account</button></p>
                <% end %>
                <hr class="short-hr">
                <p>Already a member?</p>
                <%= link_to "Log in", login_path, class: "btn btn-default link-to-login" %>
              </div>
            </div>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
    </body>
