<%= link_to "Logout", logout_path %>

<h2> My Boards </h2>
  <% @boards.each do |board| %>
  <%= board.name %>
<% end %>

<%= link_to "Following:", user_following_path(@user) %> <%= current_user.followers.count %>
<%= link_to "Followers:", user_followers_path(@user) %> <%= current_user.following.count %>

<%= render '/layouts/follow_button', :user => User.find_by(username: params[:user]) %>
