

<div class="container">
  <div class="text-center profile">
    <%= link_to edit_user_path(current_user) do %>
      <span class="glyphicon glyphicon-wrench wrench-style hover-circle" aria-hidden="true"></span>
    <% end %>
    <div class="dropdown">
        <span class="glyphicon glyphicon-option-horizontal wrench-style hover-circle" data-toggle="dropdown"></span>
        <ul class="dropdown-menu drop-pad" aria-labelledby="dropdownMenu1">
        <li role="separator" class="divider"></li>
        <li><%= link_to "Logout", logout_path %></li>
      </ul>
    </div>
    <div class="profile-info">
      <h1 class="profile-h1"><%= @user.name %></h1>
      <% if @user.avatar %>
        <%= image_tag(@user.avatar, class: "avatar-style") %><br>
      <% else %>
        <%= image_tag("https://s.pinimg.com/images/user/default_444.png", class: "avatar-style") %>
      <% end %>
      </div>
      <br>
      <br>
    </div>
  </div>
  <div class="counts">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-1">
          <p class="num-follow"><%= @user.boards.count %></p>
          <a href="#" class="profile-link">Boards</a>
        </div>
        <div class="col-md-1">
          <p class="num-follow"><%= @user.boards.count %></p>
          <a href="#" class="profile-link">Pins</a>
        </div>
        <div class="col-md-1">
          <p class="num-follow"><%= @user.followers.count %></p>
          <a href="#" class="profile-link">Followers</a>
        </div>
        <div class="col-md-1">
          <p class="num-follow"><%= @user.following.count %></p>
          <a href="#" class="profile-link">Following</a>
          <%= render '/layouts/follow_button', :user => @user %>
        </div>
        <div class="col-md-6"></div>


      </div>


  <div class="boards-grid">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
            <%if @user == current_user %>
            <div class="add-public-board">
              <br>
              <br><br><br><br>
              <span class="glyphicon glyphicon-plus-sign"></span>
              <br>
              <%= link_to "Create Board", new_board_path %>
            </div>
            <% end %>
        </div>
        <%@user.public_boards.each do |board| %>
        <div class="col-md-3">
          <div class="public-board">
            <br><br><br><br><br><br><br><br><br><br>
            <%= link_to "#{board.name}", user_board_path(@user.slug, board.slug), :class => "board-title" %>
            <p class="board-pin-count"> <%= "#{board.pins.count} Pins"%></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <div class="private">
      <h2 class="activity-header">Private Boards</h2>
      <div class="boards-grid">
        <div class="container-fluid">
          <div class="row">
            <%@user.private_boards.each do |board| %>
            <div class="col-md-3">
              <div class="public-board">
                <br><br><br><br><br><br><br><br><br><br>
                <%= link_to "#{board.name}", user_board_path(@user.slug, board.slug), :class => "board-title" %>
                <p class="board-pin-count"> <%= "#{board.pins.count} Pins"%></p>
              </div>
            </div>
            <% end %>
          </div>
        </div>
    </div>

<% if params[:user] == current_user.slug %>
  <h2 class="activity-header">Activity Feed</h2>
  <div id="activity-feed">
    <% @activities.each do |activity| %>
      <div class="activity-text">
        <% if activity.key[-6..-1] == "create" %>
          <hr>
          <%= render_activity activity %> <br>
        <% end %>
      </div>
    <% end %>
  </div>
      </div>
<% end %>

</div>
