<div class="container">
  <h2>Update Board</h2>

  <%= form_for @board do |f| %>
    <%=f.label :name  %>
    <%=f.text_field :name  %>
    <%= f.select :isprivate, ['Public', 'Private'], selected: @board.isprivate ? 'Private' : 'Public' %>

    <%= f.submit %>
  <% end %>
</div>
