<div class="container">
  <div class="user-info">
    <h2><%= @user.name %></h2>

    <%= form_for [:admin, @user] do |f| %>
      <%= f.select :status, User.statuses.keys.to_a%>

      <%= f.submit%>
    <% end %>

  </div>
  <h4>Boards</h4>
    <% @user.boards.each do |board| %>
      <div class="col-md-2">
        <h5><%= board.name %> </h5>
        <%= link_to  admin_board_path(board), method: "delete" do%>
        <button type="button" class="btn btn-xs btn-danger hover-button">Delete</button>
        <% end %>
      </div>
    <% end %>
    <br><br>

  <h4>Comments</h4>
    <% @user.comments.each do |comment| %>
    <div class="col-md-12">
      <p><%= comment.content %></p>
      <%= link_to admin_comment_path(comment), method: "delete" do%>
      <button type="button" class="btn btn-xs btn-danger hover-button">Delete</button>
      <% end %>
    </div>
    <% end %>
</div>
