<h1><%= @user.username %> Account Information </h1>
<p>Name: <%= @user.name %></p>
<p>Username: <%= @user.username %></p>
<p>Email: <%= @user.email %></p>
<p>Phone: <%= @user.phone %></p>
<p>Password: ******* </p>
