<div class="container text-center">
  <%= link_to edit_user_path(current_user) do %>
    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
  <% end %>
<h2 class="profile-h2"><%= current_user.username %></h2>
<%= image_tag(current_user.avatar, class: "avatar-style") %>
<p>Name: <%= current_user.name %></p>
<p>Username: <%= current_user.username %></p>
<p>Email: <%= current_user.email %></p>
<p>Phone: <%= current_user.phone %></p>
<p>Password: ******* </p>

<%= link_to "Edit Account Info", edit_user_path(current_user) %>
</div>
