<h1><%= current_user.username %> Account Information </h1>
<img src="<% current_user.avatar %>" alt="User photo">
<p>Name: <%= current_user.name %></p>
<p>Username: <%= current_user.username %></p>
<p>Email: <%= current_user.email %></p>
<p>Phone: <%= current_user.phone %></p>
<p>Password: ******* </p>

<%= link_to "Edit Account Info", edit_user_path(current_user) %>
