<h2>Choose Board</h2>

<%= form_for @pin do |f| %>
  <%= f.label "Choose Board" %>
  <%= f.collection_select(:boards, current_user.boards, :id, :name) %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :source %>
  <%= f.text_field :source %>

  <%= f.label :image %>
  <%= f.text_field :image %>

  <%= f.submit %>

<% end %>
