<h2>Choose Board</h2>

<%= form_for @pin do |f| %>
  <%= f.label "Choose Board" %>
  <%= f.select :board, current_user.boards %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :source %>
  <%= f.text_field :source %>

  <%= f.label :image %>
  <%= f.text_field :image %>

  <%= f.submit %>

<% end %>
