<h2 class="board-header">Choose Board</h2>

<div class="center-it">
  <%= form_for @pin_board do |f| %>
    <%= f.label "Choose Board" %>
    <%= f.collection_select(:board_id, current_user.boards, :id, :name) %>

    <%= f.hidden_field :pin_id %>

    <%= f.submit "Add to board" %>

  <% end %>
</div>

<h3> Create new board </h3>
<%#= form_for @pin_board do |f| %>
  <%#= f.label :name %>
  <%#= f.text_field :name %>

  <%#= f.hidden_field :pin_id %>

  <%#= f.submit "Create board and add pin" %>

<%# end %>
