<!DOCTYPE html>
<html>
  <head>
    <title>Pinspiration</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <% flash.each do |type, message| %>
    <%= content_tag :div, sanitize(message), class: "alert-#{type}" %>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
